<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zsoltpazmandy.tutorme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateModActivity"
            android:label="@string/title_activity_create_mod"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.MainActivity" />
        </activity>
        <activity
            android:name=".AddSlide"
            android:label="@string/title_activity_config_slide"
            android:parentActivityName=".CreateModActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.CreateModActivity" />
        </activity>
        <activity
            android:name=".MakeTableSlide"
            android:label="@string/title_activity_make_table_slide"
            android:parentActivityName=".CreateModActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.CreateModActivity" />
        </activity>
        <activity
            android:name=".MakeTextSlide"
            android:label="@string/title_activity_make_text_slide"
            android:parentActivityName=".CreateModActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.CreateModActivity" />
        </activity>
        <activity
            android:name=".ViewLibrary"
            android:label="@string/title_activity_view_library"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.MainActivity" />
        </activity>
        <activity
            android:name=".ViewLibPopUpModDisplay"
            android:label="@string/title_activity_view_lib_pop_up_mod_display"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.ViewLibrary" />
        </activity>
        <activity
            android:name=".ProfileSetup"
            android:label="@string/title_activity_profile_setup"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.MainActivity" />
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zsoltpazmandy.tutorme.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileTab"
            android:label="@string/title_activity_profile_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningTab"
            android:label="@string/title_activity_learning_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingTab"
            android:label="@string/title_activity_training_tab"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>